.Header .header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header .header__title {
    width: 30%;
}

.Header .header__main-nav {
    width: 70%;
}

.Header .header__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Header .header__list-item {
    display: inline-block;
    width: 25%;
    border-right: 1px solid grey;
    text-align: center;
}

.Header .header__list-item:last-child {
    border: none;
}

.Header .header__list-item-link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

.Header .header__list-item-link:hover {
    background: tan;
}

.Header .header__list-item-link:active {
    background: burlywood;
}

